.concert {
  background-image: url("../images/concert.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position: 50%;
  height: 500px !important;
}

li::marker {
  color:red;
  font-size: 2rem;
  font-weight: 900;
}

ol {
  padding-inline-start: 40px;
}

.img-fluid {
  max-height: 600px;
  margin: 0 auto;
}

@layer components {
  .nav {
    @apply flex-col md:flex-row md:justify-between md:items-center md:mb-6 p-4;
  
    &_bar {
      @apply uppercase font-black font-body flex flex-col md:flex-row items-start;
    }
  
    &_link {
      @apply border-b-2 border-transparent hover:border-red-500 md:mx-2;
    }
  }
}
